<h1>Welcome <%= current_user.email %>!</h1>

<%= link_to 'Find a Playdate for Your Pupper!', dogs_path, class: 'link-dark' %>
<br/>

<div class="container pt-5">
  <% @dogs&.each_slice(2) do |group| %>
  <div class="row">
    <% group.each do |dog| %>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
         <h5 class="card-title">Dog Name</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Play with me!</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<div class="col-md-6">
    <h2>Welcome Dog Owner</h2>
    <p>Details about Bones</p>
</div>
<div class="container mt-5">
 <div class="row">
 	<div class="col"><a class="nav-link" href="#">Add/Create Pet</a></div>
    <div class="col"><a class="nav-link" href="#">My Playdates</a></div>
    <div class="col"><a class="nav-link" href="#">Find playdate dogs</a></div>
 </div>
</div>
