<h1>Welcome <%= current_user.email %>!</h1>

<%= link_to 'Find a Playdate for Your Pupper!', dogs_path, class: 'link-dark' %>
<br/>
<%= 'My Dogs' %>
<% @dogs&.each do |pet| %>
  <%= pet.name %>
<% end %>
