<h1>Welcome <%= current_user&.email %></h1>
<%= render 'shared/dogfact', cached: true %>

<%= button_to 'Sign In with Google',  '/auth/google_oauth2', method: :get, class: 'btn btn-outline-primary' unless current_user %>
<%= button_to 'Sign Out with Google', logout_path, method: :delete, class: 'btn btn-outline-danger' if current_user %>
